
/*Base Styles*/

body {
  background-color: #222;
  font-color: #222;
  font-family:'Raleway', sans-serif;
}

a {
  color: #33CCCC;
  text-decoration: none;
}

a:hover {
  background-color:   #DBFFFF;
}

th {
  text-align: left;
}

input {
  margin: 20px 0;
  padding: 5px 0;
  width: 600px;
}

#wrapper {
  background-color: #fff;
  margin: auto;
  margin-top: 20px;
  width: 1000px;
}

/*Header*/
#header {
  border-bottom: #1D7373 dotted 1px;
  padding: 30px 30px 20px 30px;
}

#header h1 {
  display: inline;
  font-size: 60px;
  width: 400px;
}

#header a:hover {
  background-color: transparent;
}

#header span {
  color: #1D7373;
  display: inline;
  float: right;
  font-size: 18px;
  font-weight: 700;
  margin-top: 20px;
}

/*Content*/
#content {
  font-size: 20px;
  padding: 20px 20px;
  text-align: center;
}

#content ul {
  list-style-type: none;
  padding: 0;
}

#content li {
  margin: 10px 0;
}


/*Home Page*/


/*Category Page*/
#category-page-var {
  color: #006363;
  font-size: 22px;
  text-decoration: underline;
  text-transform: capitalize;
}

/*Post Page*/

/*Footer*/
#footer {
  background-color: #222;
  color: #fff;
  font-weight: 700;
  padding: 10px 0px 0px 0px;
  text-transform: uppercase;
}

#footer a:hover {
  background-color: transparent;
}
