<div class="content">
  
  <h2>Choose a category you're interested in to get started!</h2>
  <% if @categories %>
    <ul>
      <% @categories.each do |category| %>
        <li><a href="/<%= category.title %>"><%= category.title %></a></li>
      <% end %>
    </ul>
  <% end %>
</div>
