<div class="container">
  
  <h2>Categories</h2>
  <% if @categories %>
    <ul>
      <% @categories.each do |category| %>
        <li><a href="/<%= category.title %>"><%= category.title %></a></li>
      <% end %>
    </ul>
  <% end %>
</div>
