<form action="/<%= @category.id %>/create_new_post" method="post">
  <label for="post-title">Post Title:</label>
  <br/>
  <input id="post-title"type="text" name="post[title]" placeholder="Please enter your post title...">
  <br/>
  <label for="post-text">Post Text:</label>
  <br/>
  <input id="post-text"type="text" name="post[text]" placeholder="Tell us a little more about what you're offering...">
  <br/>
  <label for="post-price">Price:</label>
  <br/>
  <input id="post-price"type="text" name="post[price]" placeholder="How much you want, dude?">
  <br/>
  <label for="post-email">Email Address:</label>
  <br/>
  <input id="post-email"type="email" name="post[email]" placeholder="name@yourdomain.com so we can contact you!">
  <input type="hidden" name="category_id">
  <input type="hidden" name='post[key]' value="<%= (0...8).map{(65+rand(26)).chr}.join %>">
  <br/>
  <input type="submit" value="SEND IT IN">
</form>

 
 <!--  <input type="radio" name="post[:category_id]" value="1">bikes</br>
  <input type="radio" name="post[:category_id]" value="2">cars <br>
  <input type="radio" name="post[:category_id]" value="3">casual encounters</br>
  <input type="radio" name="post[:category_id]" value="4">books</br>
  <input type="radio" name="post[:category_id]" value="5">jobs <br>
  <input type="radio" name="post[:category_id]" value="6">apartments</br>
  <input type="radio" name="post[:category_id]" value="7">rideshare</br>
  <input type="radio" name="post[:category_id]" value="8">pets <br>  
  <input type="radio" name="post[:category_id]" value="9">barter</br>
  <input type="radio" name="post[:category_id]" value="10">haiku</br> -->
